---
const repositoryUrl = "https://github.com/richardnarvaez/richardnarvaez"
---

<section
  id="open-source"
  class="px-5 py-8 md:py-12 lg:py-24 sm:px-8"
  style="background: var(--page-accent-surface);"
>
  <div class="mx-auto flex max-w-[58rem] flex-col items-center justify-center gap-4 text-center">
    <h2 class="z-20 font-barlow text-6xl leading-[1.1] text-white">
      Open Source
    </h2>

    <p class="z-20 max-w-[85%] leading-normal text-white/60 sm:text-lg sm:leading-7">
      This Portfolio is Open Source and powered by open source software.
      <br />
      The code is available on
      <a
        href={repositoryUrl}
        target="_blank"
        rel="noreferrer"
        class="ml-1 underline underline-offset-4"
      >
        GitHub
      </a>
      .
    </p>

    <p class="text-white/80">
      Next 14 | TailwindCSS | Shadcn UI | ContentLayer | Framer Motion
    </p>
  </div>
</section>
