@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 18, 17, 32;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 18, 17, 32;
    --background-end-rgb: 34, 39, 45;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:  rgb(var(--background-start-rgb));
}
