@tailwind base;
@tailwind components;
@tailwind utilities;

.border-h {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4) 45%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 18px 2px;
  background-repeat: repeat-x;
}

.border-v {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4) 45%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: right;
  background-size: 2px 18px;
  background-repeat: repeat-y;
}

@layer base {
  :root {
    --background: 18 17 32;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  ::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #ff512f;
  }

  ::selection {
    color: white;
    background: #ff512f;
  }

  .custom-cursor {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='116' height='65' viewBox='0 0 116 65' fill='none'%3E%3Cg filter='url(%23filter0_d_213_157)'%3E%3Cpath d='M27.4954 11.5874L11.014 8.0023C9.44594 7.6612 8.13491 9.21291 8.73303 10.702L14.8785 26.0021C15.6265 27.8644 18.3451 27.5876 18.7024 25.6127L19.8354 19.3501C19.9622 18.6492 20.4521 18.0687 21.1217 17.8259L27.752 15.422C29.6377 14.7383 29.4554 12.0138 27.4954 11.5874Z' fill='%236C35C7'/%3E%3Cpath d='M27.8143 10.1217L11.3329 6.53657C8.58871 5.93965 6.2944 8.65514 7.34112 11.2611L13.4866 26.5612C14.7956 29.8203 19.5532 29.3358 20.1785 25.8797L21.3114 19.6171C21.3431 19.4419 21.4656 19.2968 21.633 19.2361L28.2633 16.8321C31.5633 15.6357 31.2442 10.8678 27.8143 10.1217Z' stroke='white' stroke-width='3'/%3E%3C/g%3E%3Cg filter='url(%23filter1_d_213_157)'%3E%3Crect x='29' y='25' width='72' height='28' rx='5' fill='white'/%3E%3Crect x='29.5' y='25.5' width='71' height='27' rx='4.5' stroke='url(%23paint0_linear_213_157)'/%3E%3Cpath d='M52.8817 43.096C52.2817 43.096 51.7537 42.98 51.2977 42.748C50.8417 42.508 50.4897 42.172 50.2417 41.74C49.9937 41.308 49.8697 40.812 49.8697 40.252V37.348C49.8697 36.78 49.9937 36.284 50.2417 35.86C50.4897 35.428 50.8417 35.096 51.2977 34.864C51.7537 34.624 52.2817 34.504 52.8817 34.504C53.4737 34.504 53.9937 34.62 54.4417 34.852C54.8977 35.084 55.2497 35.4 55.4977 35.8C55.7457 36.2 55.8697 36.652 55.8697 37.156V37.252C55.8697 37.292 55.8537 37.328 55.8217 37.36C55.7977 37.384 55.7657 37.396 55.7257 37.396H54.6337C54.5937 37.396 54.5577 37.384 54.5257 37.36C54.5017 37.328 54.4897 37.292 54.4897 37.252V37.192C54.4897 36.76 54.3417 36.404 54.0457 36.124C53.7577 35.844 53.3697 35.704 52.8817 35.704C52.3937 35.704 52.0017 35.852 51.7057 36.148C51.4097 36.436 51.2617 36.82 51.2617 37.3V40.3C51.2617 40.78 51.4177 41.168 51.7297 41.464C52.0417 41.752 52.4457 41.896 52.9417 41.896C53.4217 41.896 53.7977 41.772 54.0697 41.524C54.3497 41.268 54.4897 40.92 54.4897 40.48V39.736C54.4897 39.696 54.4697 39.676 54.4297 39.676H52.9537C52.9137 39.676 52.8777 39.664 52.8457 39.64C52.8217 39.608 52.8097 39.572 52.8097 39.532V38.644C52.8097 38.604 52.8217 38.572 52.8457 38.548C52.8777 38.516 52.9137 38.5 52.9537 38.5H55.7257C55.7657 38.5 55.7977 38.516 55.8217 38.548C55.8537 38.572 55.8697 38.604 55.8697 38.644V40.18C55.8697 41.1 55.5977 41.816 55.0537 42.328C54.5177 42.84 53.7937 43.096 52.8817 43.096ZM61.1651 37.012C61.1651 36.972 61.1771 36.94 61.2011 36.916C61.2331 36.884 61.2691 36.868 61.3091 36.868H62.4011C62.4411 36.868 62.4731 36.884 62.4971 36.916C62.5291 36.94 62.5451 36.972 62.5451 37.012V42.856C62.5451 42.896 62.5291 42.932 62.4971 42.964C62.4731 42.988 62.4411 43 62.4011 43H61.3091C61.2691 43 61.2331 42.988 61.2011 42.964C61.1771 42.932 61.1651 42.896 61.1651 42.856V42.472C61.1651 42.448 61.1571 42.432 61.1411 42.424C61.1251 42.416 61.1091 42.424 61.0931 42.448C60.7651 42.872 60.2731 43.084 59.6171 43.084C59.0091 43.084 58.4971 42.908 58.0811 42.556C57.6731 42.204 57.4691 41.704 57.4691 41.056V37.012C57.4691 36.972 57.4811 36.94 57.5051 36.916C57.5371 36.884 57.5731 36.868 57.6131 36.868H58.7171C58.7571 36.868 58.7891 36.884 58.8131 36.916C58.8451 36.94 58.8611 36.972 58.8611 37.012V40.66C58.8611 41.036 58.9571 41.336 59.1491 41.56C59.3491 41.784 59.6251 41.896 59.9771 41.896C60.3371 41.896 60.6251 41.784 60.8411 41.56C61.0571 41.336 61.1651 41.036 61.1651 40.66V37.012ZM69.4453 39.244C69.4773 39.444 69.4933 39.668 69.4933 39.916L69.4813 40.288C69.4813 40.384 69.4333 40.432 69.3373 40.432H65.5813C65.5413 40.432 65.5213 40.452 65.5213 40.492C65.5453 40.756 65.5813 40.936 65.6293 41.032C65.8213 41.608 66.2893 41.9 67.0333 41.908C67.5773 41.908 68.0093 41.684 68.3293 41.236C68.3613 41.188 68.4013 41.164 68.4493 41.164C68.4813 41.164 68.5093 41.176 68.5333 41.2L69.2773 41.812C69.3493 41.868 69.3613 41.932 69.3133 42.004C69.0653 42.356 68.7333 42.628 68.3173 42.82C67.9093 43.012 67.4533 43.108 66.9493 43.108C66.3253 43.108 65.7933 42.968 65.3533 42.688C64.9213 42.408 64.6053 42.016 64.4053 41.512C64.2213 41.08 64.1293 40.48 64.1293 39.712C64.1293 39.248 64.1773 38.872 64.2733 38.584C64.4333 38.024 64.7333 37.584 65.1733 37.264C65.6213 36.936 66.1573 36.772 66.7813 36.772C68.3573 36.772 69.2453 37.596 69.4453 39.244ZM66.7813 37.972C66.4853 37.972 66.2373 38.048 66.0373 38.2C65.8453 38.344 65.7093 38.548 65.6293 38.812C65.5813 38.948 65.5493 39.124 65.5333 39.34C65.5173 39.38 65.5333 39.4 65.5813 39.4H68.0173C68.0573 39.4 68.0773 39.38 68.0773 39.34C68.0613 39.14 68.0373 38.988 68.0053 38.884C67.9333 38.596 67.7893 38.372 67.5733 38.212C67.3653 38.052 67.1013 37.972 66.7813 37.972ZM73.1917 43.072C72.6877 43.072 72.2437 43 71.8597 42.856C71.4837 42.704 71.1917 42.5 70.9837 42.244C70.7757 41.98 70.6717 41.688 70.6717 41.368V41.26C70.6717 41.22 70.6837 41.188 70.7077 41.164C70.7397 41.132 70.7757 41.116 70.8157 41.116H71.8717C71.9117 41.116 71.9437 41.132 71.9677 41.164C71.9997 41.188 72.0157 41.22 72.0157 41.26V41.284C72.0157 41.484 72.1237 41.66 72.3397 41.812C72.5637 41.956 72.8437 42.028 73.1797 42.028C73.4997 42.028 73.7597 41.964 73.9597 41.836C74.1597 41.7 74.2597 41.532 74.2597 41.332C74.2597 41.148 74.1757 41.012 74.0077 40.924C73.8477 40.828 73.5837 40.728 73.2157 40.624L72.7597 40.48C72.3517 40.36 72.0077 40.232 71.7277 40.096C71.4477 39.96 71.2117 39.776 71.0197 39.544C70.8277 39.304 70.7317 39 70.7317 38.632C70.7317 38.072 70.9517 37.628 71.3917 37.3C71.8317 36.964 72.4117 36.796 73.1317 36.796C73.6197 36.796 74.0477 36.876 74.4157 37.036C74.7837 37.188 75.0677 37.404 75.2677 37.684C75.4677 37.956 75.5677 38.268 75.5677 38.62C75.5677 38.66 75.5517 38.696 75.5197 38.728C75.4957 38.752 75.4637 38.764 75.4237 38.764H74.4037C74.3637 38.764 74.3277 38.752 74.2957 38.728C74.2717 38.696 74.2597 38.66 74.2597 38.62C74.2597 38.412 74.1557 38.24 73.9477 38.104C73.7477 37.96 73.4717 37.888 73.1197 37.888C72.8077 37.888 72.5517 37.948 72.3517 38.068C72.1597 38.18 72.0637 38.34 72.0637 38.548C72.0637 38.74 72.1557 38.888 72.3397 38.992C72.5317 39.088 72.8477 39.196 73.2877 39.316L73.5517 39.388C73.9757 39.516 74.3317 39.648 74.6197 39.784C74.9077 39.912 75.1517 40.096 75.3517 40.336C75.5517 40.568 75.6517 40.872 75.6517 41.248C75.6517 41.816 75.4277 42.264 74.9797 42.592C74.5317 42.912 73.9357 43.072 73.1917 43.072ZM80.31 37.852C80.31 37.892 80.294 37.928 80.262 37.96C80.238 37.984 80.206 37.996 80.166 37.996H78.942C78.902 37.996 78.882 38.016 78.882 38.056V40.948C78.882 41.252 78.946 41.472 79.074 41.608C79.21 41.744 79.422 41.812 79.71 41.812H80.07C80.11 41.812 80.142 41.828 80.166 41.86C80.198 41.884 80.214 41.916 80.214 41.956V42.856C80.214 42.944 80.166 42.996 80.07 43.012L79.446 43.024C78.814 43.024 78.342 42.916 78.03 42.7C77.718 42.484 77.558 42.076 77.55 41.476V38.056C77.55 38.016 77.53 37.996 77.49 37.996H76.806C76.766 37.996 76.73 37.984 76.698 37.96C76.674 37.928 76.662 37.892 76.662 37.852V37.012C76.662 36.972 76.674 36.94 76.698 36.916C76.73 36.884 76.766 36.868 76.806 36.868H77.49C77.53 36.868 77.55 36.848 77.55 36.808V35.404C77.55 35.364 77.562 35.332 77.586 35.308C77.618 35.276 77.654 35.26 77.694 35.26H78.738C78.778 35.26 78.81 35.276 78.834 35.308C78.866 35.332 78.882 35.364 78.882 35.404V36.808C78.882 36.848 78.902 36.868 78.942 36.868H80.166C80.206 36.868 80.238 36.884 80.262 36.916C80.294 36.94 80.31 36.972 80.31 37.012V37.852Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_213_157' x='1.58008' y='4.95178' width='34.4908' height='33.3062' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_213_157'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_213_157' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d_213_157' x='25' y='25' width='80' height='36' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_213_157'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_213_157' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_213_157' x1='65' y1='25' x2='65' y2='53' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%23C5C5C5'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")
        0 0,
      pointer;
  }

  .dark {
    --background: 244 31% 10%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
